<h1>All Groups</h1>

<%= form_with url: import_users_path, method: :post do |form| %>
  <%= form.file_field :file, accept: ".csv" %>
  <%= form.button "Import" %>
<% end %>

<% @groups.each do |group| %>
  <h3><%= group.name %></h3>
  <% group.users.each do |user| %>
    <% user.user_groups.each do |user_group| %>
      <% next unless user_group.group_id == group.id && user_group.role == ["Organizer"] %>
      <p>Organizer: <%= user.first_name %> <%= user.last_name %></p>
    <% end %>
  <% end %>
<% end %>
